@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/500.css";
@import "@fontsource/space-grotesk/700.css";

/* custom class for header title based on Figma */
.header-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.search-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* placeholder inherits the same font */
.search-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.city-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.city-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.typography-medium {
  padding-left:16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.typography-medium2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-grotesk: ["Space Grotesk", "sans-serif"];
}
